/* Hide Vue.js apps until they are compiled */
[v-cloak] {
  display: none;
}

body.modal-open {
  overflow-y: hidden;
}

.content-column {
  max-width: 708px;
  min-height: 70vh;
  margin: 0 auto;
  padding: 3rem 1rem 5rem;
}

.container header.page-header,
.content-column header.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: flex-start;

  padding: 0; /* unset from main header -- this should be more specific */
}

@media print {
  .no-print {
    display: none !important;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s ease;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
