@use 'variables' as v;

:root {
  --primary-color: #00aaf9;
  --secondary-color: #0965f7;
  --tertiary-color: #00d1b2;
}

/* Hide Vue.js apps until they are compiled */
[v-cloak] {
  display: none;
}

body {
  &.modal-open {
    overflow-y: hidden;
  }
}

.content-column {
  max-width: 708px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.container header.page-header,
.content-column header.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: flex-start;

  padding: 0; /* unset from main header -- this should be more specific */
}

.no-print {
  @media print {
    display: none !important;
  }
}
