@use 'variables' as v;

/* Hide Vue.js apps until they are compiled */
[v-cloak] {
  display: none;
}

body {
  &.modal-open {
    overflow-y: hidden;
  }
}

.content-column {
  max-width: 708px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 48px;
  padding-bottom: 48px;
}

.container header.page-header,
.content-column header.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: flex-start;

  padding: 0; /* unset from main header -- this should be more specific */
}

.no-print {
  @media print {
    display: none !important;
  }
}
