$breakpoint: 800px;

$zIndexToast: 42;
$zIndexPopUp: 41;
$zIndexModal: 40; // 40 is the Bulma modal class z-index as well
$zIndexActionMenu: 39;
$zIndexActionButton: 38;
$zIndexBusyBar: 29;
$zIndexSiteHeader: 3;
$zIndexSiteNav: 2;
$zIndexSiteNavScreen: 1;

$header-height: calc(1rem + 1.618rem + 3px);

$grey-100: #e4e9f0;
$grey-200: #cfd7e3;
$grey-300: #b5c0cd;
$grey-800: #3e4e63;

// modal transitions
$transition-fade: opacity 0.3s ease-out;
$transition-modal: transform 0.3s ease-out;
$modal-scale: scale(0.9);
